<div class="{{ sPartialClasses|default('form-check') }}">
    <input
        class="{{sInputClass}} {{sIndentsClass|default('form-check-input')}}"
        type="checkbox"
        {% if sName %}
        name="{{ sName }}"
        {% endif %}
        {% if sId %}
        id="{{ sId }}"
        {% endif %}
        {% if sValue %}
        value="{{ sValue }}"
        {% endif %}
        {% if bIsRequired %}
        required
        {% endif %}
        {% if sChecked %}
        checked
        {% endif %}
        {% if sDisabled %}
        disabled
        {% endif %}
    >
    <label for="{{ sId }}" class="{{sTextSize|default('form-check-label')}}">{{ sLabelText|raw}}</label>
</div>
