<div class="footer-mobile">
    <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="staticBackdropLabel">Ajuste</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul>
                <li>
                    <a class="login" href="https://textiler.es/mi-cuenta" rel="nofollow" title="Log in to your customer account">
                        <span>Entrar</span>
                    </a>
                </li>
                <li>
                    <a class="register" href="https://textiler.es/iniciar-sesion?create_account=1" rel="nofollow" title="Registrarse">
                        <span>Registrarse</span>
                    </a>
                </li>
                <li>
                    <a class="check-out" href="https://textiler.es/pedido" rel="nofollow" title="Checkout">
                        <span>Checkout</span>
                    </a>
                </li>
                <li>
                    <a href="https://textiler.es/module/novblockwishlist/mywishlist" title="Mi lista de deseos">
                        <span>Mi lista de deseos</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid fixed-bottom d-block d-md-none menu">
        <ul class="nav nav-pills justify-content-center p-2">
            <li>
                <a href="https://textiler.es/module/novblockwishlist/mywishlist" title="Mi lista de deseos">
                    <i class="wishlist-icon"></i>
                </a>
            </li>
            <li>
                <div class="cart mobile-cart">
                    {% partial 'cart/count' %}
                </div>
            </li>
            <li>
                <i class="account-icon" aria-hidden="true" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop"></i>
            </li>
        </ul>
    </div>
</div>
