<div class="footer-mobile">
    <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="staticBackdropLabel">{{ 'Ajuste'|_ }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul>
                {% if obUser.isNotEmpty %}
                <li>
                    <a class="login {{ activeNavLink == 'user-orders' ? 'active' }}" href="{{ 'user/orders'|page }}" rel="nofollow">
                        {{ 'Área personal'|_ }}
                    </a>
                </li>
                <li>
                    <a class="login" href="{{ 'user/logout'|page }}" rel="nofollow">
                        {{ 'Salir'|_ }}
                    </a>
                </li>
                {% else %}
                <li>
                    <a class="login" href="{{ 'user/login'|page }}" rel="nofollow">
                        <span>{{ 'Entrar'|_ }}</span>
                    </a>
                </li>
                <li>
                    <a class="register" href="{{ 'user/registration'|page }}" rel="nofollow">
                        <span>{{ 'Registrarse'|_ }}</span>
                    </a>
                </li>
                {% endif %}
                <li>
                    <a class="check-out" href="{{ 'checkout'|page }}" rel="nofollow">
                        <span>{{ 'Checkout'|_ }}</span>
                    </a>
                </li>
                <li>
                    <a href="{{ 'wishlist'|page }}">
                        <span>{{ 'Mi lista de deseos'|_ }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid fixed-bottom d-block d-md-none menu">
        <ul class="nav nav-pills justify-content-center p-2">
            <li>
                <a href="{{ 'wishlist'|page }}">
                    <i class="wishlist-icon"></i>
                </a>
            </li>
            <li>
                <div class="cart mobile-cart">
                    {% partial 'cart/count' %}
                </div>
            </li>
            <li>
                <i class="account-icon" aria-hidden="true" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop"></i>
            </li>
        </ul>
    </div>
</div>
