<div class="modal fade" id="reviewForm" tabindex="-1" aria-labelledby="callBackFormLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="callBackFormLabel">
                    {{ 'Tu retroalimentación'|_ }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3"
                      data-request="Reviews::onAddItem"
                      data-request-success="$('.btn-close').click();"
                      data-request-flash>
                    <div class="col-md-10">
                        <label for="inputName" class="form-label">{{ 'Nombre'|_ }}</label>
                        <input type="text" class="form-control" id="inputName" name="name">
                    </div>
                    <div class="col-md-2">
                        <label for="inputRating" class="form-label">{{ 'Clas.'|_ }}</label>
                        <select class="form-select" id="inputRating" name="rating">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <label for="inputMessage" class="form-label">{{ 'Revisar'|_ }}</label>
                        <textarea class="form-control" id="inputMessage" rows="5" name="message"></textarea>
                    </div>
                    <div class="col-12 mt-4">
                        <button type="submit" class="btn btn-primary">{{ 'Enviar'|_ }}</button>
                    </div>
                    <input type="hidden" name="product_id" value="{{obProduct.id}}">
                    <input type="hidden" name="product" value="{{obProduct.name}}">
                </form>
            </div>
        </div>
    </div>
</div>

