{% if obProduct.offer_id_list|length > 1 %}

    {% set obOfferList = obProduct.offer %}

    {% set obOfferProperty = obOffer.property.getByCode('color') %}
    {% if obOfferProperty.isNotEmpty() %}
    <ul class="field-color-picker">
        <li>{{ obOfferProperty.name }}: </li>
        {% for obOfferItem in obOfferList %}
        {% set sValue = obOfferItem.property.getByCode('color').property_value.getValueString() %}
            {% if sValue is not empty %}
            <li><span style="background: {{ sValue }}" data-offerid="{{ obOfferItem.id }}"></span></li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

    {% set obOfferProperty = obOffer.property.getByCode('version') %}
    {% if obOfferProperty.isNotEmpty() %}
    {{ obOfferProperty.name }}:
    <select class="form-select form-select-sm field-select">
        {% for obOfferItem in obOfferList %}
            {% set sValue = obOfferItem.property.getByCode('version').property_value.getValueString() %}
            {% if sValue is not empty %}
            <option value="{{ obOfferItem.id }}" {% if obOfferItem.id == obOffer.id %}selected{% endif %}>{{ sValue }}</option>
            {% endif %}
        {% endfor %}
    </select>
    {% endif %}

{% endif %}
