<div class="container my-5">
    <div class="row row-cols-1">
        {% if obProductPropertyList.isNotEmpty %}

        <div class="col _shopaholic-filter-wrapper" data-filter-type="between-" data-property-id="">
            <p>{{ 'Precio'|_ }}</p>
            <div class="_shopaholic-price-filter input-group mb-4">
                <input type="number" name="filter-min-price" value="{{obOfferMinPrice.price_value}}" class="form-control">
                <input type="number" name="filter-max-price" value="{{obOfferMaxPrice.price_value}}" class="form-control">
            </div>
            <hr>
        </div>

        {% for obProperty in obProductPropertyList if obProperty.hasValue() %}
        {% set obPropertyValueList = obProperty.property_value.sort() %}
        <div class="col _shopaholic-filter-wrapper" data-filter-type="{{obProperty.filter_type}}" data-property-id="{{obProperty.id}}">
            {% if obProperty.filter_type == 'checkbox' %}
            <p>
                {{ obProperty.filter_name }} {% if obProperty.measure.isNotEmpty() %}, {{ obProperty.measure.name }}{% endif %}
            </p>
            <div class="filter-panel">
                {% for obValue in obPropertyValueList %}
                    {% set bChecked = arFilterValue[obProperty.id] is not empty and obValue.slug in arFilterValue[obProperty.id] %}
                    {% set bDisabled = false %}
                    {% set sDisplayNone = '' %}
                    {% if loop.index > 10 %}
                        {% set sDisplayNone = 'd-none' %}
                    {% endif %}
                    {% if bChecked == false and arFilterValueWithoutProperty[obProperty.id] is not empty %}
                        {% set obProductListTemp = obProductList.copy().filterByProperty(arFilterValueWithoutProperty[obProperty.id], obProductPropertyList).filterByProperty(arFilterValueWithoutProperty[obProperty.id], obOfferPropertyList) %}
                        {% set bDisabled = obValue.isDisabled(obProductListTemp) %}
                    {% endif %}
                    {% partial 'filter/input-checkbox'
                        sLabelText = obValue.value
                        sPartialClasses = 'form-check ' ~ sDisplayNone
                        sInputClass = ''
                        sDisabled = bDisabled
                        sChecked= bChecked
                        sId = obValue.slug
                        sValue = obValue.slug
                    %}
                {% endfor %}
            </div>
            <hr>
            {% endif %}

            {% if obProperty.filter_type == 'between' %}
                {% set arBetweenValue = [] %}
                {% for obValue in obPropertyValueList %}
                    {% set arBetweenValue = arBetweenValue|merge([obValue.value]) %}
                {% endfor %}
                {% set iMin = min(arBetweenValue) %}
                {% set iMax = max(arBetweenValue) %}
                {% set iMinValue = iMin %}
                {% set iMaxValue = iMax %}
                {% if arFilterValue[obProperty.id][0] is not empty %}
                    {% set iMinValue = arFilterValue[obProperty.id][0] %}
                {% endif %}
                {% if arFilterValue[obProperty.id][1] is not empty %}
                    {% set iMaxValue = arFilterValue[obProperty.id][1] %}
                {% endif %}
                <p>{{ obProperty.filter_name }} {% if obProperty.measure.isNotEmpty() %}, {{ obProperty.measure.name }}{% endif %}</p>
                <div class="filter-range input-group mb-4" data-filter-id="{{ obProperty.id }}">
                    <input type="number" name="filter-min-price" value="{{iMinValue}}" placeholder="{{iMin}}" id="{{obProperty.slug ~ '-min'}}" class="form-control">
                    <input type="number" name="filter-max-price" value="{{iMaxValue}}" placeholder="{{iMax}}" id="{{obProperty.slug ~ '-max'}}" class="form-control">
                </div>
                <hr>
            {% endif %}
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>


