<div class="row mt-2 mt-md-5">
    <h5 class="blog-title">Blog</h5>
    <div id="blog-carousel" class="blog-carousel carousel">
        <div class="carousel__slide">
            <div class="card text-center">
                <a href="#" class="stretched-link"></a>
                <div class="post-time">
                    <div class="date">25</div><hr>
                    <div class="month">oct</div>
                </div>
                <img src="https://textiler.es/modules//smartblog/images/1-home-default.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <div class="card-title">Proin tincidunt, ipsum nec vehicula euismod, neque nibh</div>
                    <div class="card-text">Smartdatasoft is an offshore web development company located in Bangladesh. We are serving this sector since 2010....</div>
                </div>
            </div>
        </div>
        <div class="carousel__slide">
            <div class="card text-center">
                <a href="#" class="stretched-link"></a>
                <div class="post-time">
                    <div class="date">25</div><hr>
                    <div class="month">oct</div>
                </div>
                <img src="https://textiler.es/modules//smartblog/images/2-home-default.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <div class="card-title">Donec imperdiet tincidunt interdum</div>
                    <div class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys...</div>
                </div>
            </div>
        </div>
        <div class="carousel__slide">
            <div class="card text-center">
                <a href="#" class="stretched-link"></a>
                <div class="post-time">
                    <div class="date">25</div><hr>
                    <div class="month">oct</div>
                </div>
                <img src="https://textiler.es/modules//smartblog/images/1-home-default.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <div class="card-title">Proin tincidunt, ipsum nec vehicula euismod, neque nibh</div>
                    <div class="card-text">Smartdatasoft is an offshore web development company located in Bangladesh. We are serving this sector since 2010....</div>
                </div>
            </div>
        </div>
    </div>
</div>
