<div class="menu-categories-mobile">
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasLeft" aria-labelledby="offcanvasLeftLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasLeftLabel">Categorias</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="accordion" id="accordionLeft">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLeft1" aria-expanded="false" aria-controls="collapseLeft1">
                            Para la costura y el bordado
                        </button>
                    </h2>
                    <div id="collapseLeft1" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionLeft">
                        <div class="accordion-body">
                            <ul>
                                <li class="item">
                                    <a href="https://textiler.es/26-maquinas-de-coser" title="Máquinas de coser" class="">
                                        <img src="https://textiler.es/themes/vinova_nuranium/assets/img/modules/novverticalmenu/icon/maquinasdecoser123textiler.png" alt="">
                                        Máquinas de coser
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="https://textiler.es/27-maquinas-de-coser-bordar" title="Máquinas de coser + bordar" class="">
                                        <img src="https://textiler.es/themes/vinova_nuranium/assets/img/modules/novverticalmenu/icon/Asset 23textiler.png" alt="">
                                        Máquinas de coser + bordar
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="https://textiler.es/28-remalladoras-overlock-y-recubridoras" title="Remalladoras (Overlock) y recubridoras" class="">
                                        <img src="https://textiler.es/themes/vinova_nuranium/assets/img/modules/novverticalmenu/icon/Asset 25textiler.png" alt="">
                                        Remalladoras (Overlock) y recubridoras
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="https://textiler.es/29-maquinas-bordadoras" title="Máquinas bordadoras" class="">
                                        <img src="https://textiler.es/themes/vinova_nuranium/assets/img/modules/novverticalmenu/icon/Asset 13textiler.png" alt="">
                                        Máquinas bordadoras
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="https://textiler.es/30-maniquis" title="Maniquis" class="">
                                        <img src="https://textiler.es/themes/vinova_nuranium/assets/img/modules/novverticalmenu/icon/maniquistextiler.png" alt="">
                                        Maniquis
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLeft2" aria-expanded="false" aria-controls="collapseLeft2">
                            Para planchar y vaporizar
                        </button>
                    </h2>
                    <div id="collapseLeft2" class="accordion-collapse collapse" aria-labelledby="collapseLeft2" data-bs-parent="#accordionLeft">
                        <div class="accordion-body">
                            <ul>
                                <li class="item">
                                    <a href="https://textiler.es/22-para-planchar-y-vaporizar" title="Planchas" class="">
                                        <img src="https://textiler.es/themes/vinova_nuranium/assets/img/modules/novverticalmenu/icon/planchasdevaporv2textiler.png" alt="">
                                        Planchas
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="https://textiler.es/22-para-planchar-y-vaporizar" title="Vaporizadores" class="">
                                        <img src="https://textiler.es/themes/vinova_nuranium/assets/img/modules/novverticalmenu/icon/vaporizadoresv3textiler.png" alt="">
                                        Vaporizadores
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLeft3" aria-expanded="false" aria-controls="collapseLeft2">
                            Para la limpieza
                        </button>
                    </h2>
                    <div id="collapseLeft3" class="accordion-collapse collapse" aria-labelledby="collapseLeft3" data-bs-parent="#accordionLeft">
                        <div class="accordion-body">
                            <ul>
                                <li class="item">
                                    <a href="#" title="Aspiradores inalámbricos" class="">
                                        <img src="https://textiler.es/themes/vinova_nuranium/assets/img/modules/novverticalmenu/icon/robotaspiradortextiler.png" alt="">
                                        Aspiradores inalámbricos
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#" title="Aspiradores de ciclón" class="">
                                        <img src="https://textiler.es/themes/vinova_nuranium/assets/img/modules/novverticalmenu/icon/ciclonaspiradortextiler.png" alt="">
                                        Aspiradores de ciclón
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#" title="Robots aspiradores" class="">
                                        <img src="https://textiler.es/themes/vinova_nuranium/assets/img/modules/novverticalmenu/icon/robotaspiradortextiler.png" alt="">
                                        Robots aspiradores
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLeft4" aria-expanded="false" aria-controls="collapseLeft2">
                            Accesorios y suministros
                        </button>
                    </h2>
                    <div id="collapseLeft4" class="accordion-collapse collapse" aria-labelledby="collapseLeft4" data-bs-parent="#accordionLeft">
                        <div class="accordion-body">
                            <ul>
                                <li class="item">
                                    <a href="#" title="Accesorios de costura y bordado" class="">
                                        <img src="https://textiler.es/themes/vinova_nuranium/assets/img/modules/novverticalmenu/icon/robotaspiradortextiler.png" alt="">
                                        Accesorios de costura y bordado
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#" title="Accesorios de limpieza" class="">
                                        <img src="https://textiler.es/themes/vinova_nuranium/assets/img/modules/novverticalmenu/icon/robotaspiradortextiler.png" alt="">
                                        Accesorios de limpieza
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#" title="Accesorios para planchar y vaporizar" class="">
                                        <img src="https://textiler.es/themes/vinova_nuranium/assets/img/modules/novverticalmenu/icon/robotaspiradortextiler.png" alt="">
                                        Accesorios para planchar y vaporizar
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="" class="single">Ver todo</a>
            </div>
        </div>
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">MENÚ</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="accordion" id="accordionRight">
                <a href="" class="single">Inicio</a>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRight1" aria-expanded="false" aria-controls="collapseRight1">
                            Productos
                        </button>
                    </h2>
                    <div id="collapseRight1" class="accordion-collapse collapse" aria-labelledby="collapseRight1" data-bs-parent="#accordionRight">
                        <div class="accordion-body">
                            <ul>
                                <li class="item">
                                    <a href="#">Para la costura y el bordado</a>
                                </li>
                                <li class="item">
                                    <a href="#">Para la limpieza</a>
                                </li>
                                <li class="item">
                                    <a href="#">Para planchar y vaporizar</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="#blog-carousel" class="single" data-bs-dismiss="offcanvas" aria-label="Close">Blog</a>
                <a href="" class="single">Nosotros</a>
                <a href="" class="single">FAQ</a>
            </div>
        </div>
    </div>
</div>
