description = "Default layout"

[Cart]
[CategoryList]
[SiteSettings]
[Breadcrumbs]
==
function onInit() {

    /* Set currency by locale */

    $arCurrency = [
    "ru" => "RUB",
    "en" => "USD",
    "es" => "EUR",
    ];

    $currentLocale = \RainLab\Translate\Classes\Translator::instance()->getLocale();
    \Lovata\Shopaholic\Classes\Helper\PriceTypeHelper::instance()->switchActive($arCurrency[$currentLocale]);
    \Lovata\Shopaholic\Classes\Helper\CurrencyHelper::instance()->switchActive($arCurrency[$currentLocale]);

}
==
<!doctype html>
<html lang="es">
<head>
    {% partial 'site/meta' %}
    {% partial 'site/script-head' %}
    <title>{{ placeholder('pageTitle') ?: (this.page.meta_title ?: this.page.title) }} - Textiler</title>
</head>
<body>
    <!-- Header -->
    <header class="sticky-top">
        {% partial 'site/header' %}
    </header>
    {% partial 'site/header-bottom' %}

    <!-- Menu mobile -->
    <div class="menu-categories-mobile">
        <div class="mobile-menu-wrapper"></div>
        <div class="mobile-page-menu-wrapper"></div>
    </div>

    <!-- Content -->
    <div class="main">
        {% page %}
    </div>

    <!-- Footer -->
    {% partial 'site/mobile/footer' %}
    {% partial 'site/footer' %}
    {% partial 'site/second-footer' %}
    <div id="to-top">
        <i class="far fa-arrow-alt-circle-up"></i>
    </div>

    <!-- Scripts -->
    {% partial 'site/script-footer' %}
    {% scripts %}
</body>
</html>
